
  <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;height: 100vh;">
    <div class="border-b border-gray-600 pb-1 mb-2">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="material-icons">catching_pokemon</span>
        <div class="fs-4 ms-2">Pokedex</div>
      </a>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let item of routers">
        <div [routerLink]="item.url" class="cursor-pointer px-4 py-2 hover:bg-gray-900 rounded-lg" [ngClass]="(item.url === router.url) ? 'bg-gray-900' : ''">
          <span class="material-icons">{{item.icon}}</span>
          {{item.name}}
        </div>
      </li>
    </ul>
  </div>