html, body { 
  height: 100%;
  overflow: hidden;
}
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #9966d2;
    background: linear-gradient(140deg, #9966d2 0%, #FFFFFF 35%, #eff3fd 100%);
}

img {
  max-width: 100%;
}