
.background-pokedex-tomato {
    clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 40% 100%);
    background-color: tomato;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
  }
  
.background-pokedex-orange {
    clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 50% 100%);
    background-color: #fa7246;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
  }

  .list-pokedex {
      width: 100%;
  }

  .list-sprites-icon {
    max-width: 100%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .list-name {
    font-weight: bold !important;
    width: 100%;
  }

  .list-pokemon {
    position: relative;
  }

  .list-pokemon:hover {
    cursor: pointer;
    color: white;
    background-color: #f0501e;
  }

  .list-pokemon:hover::before {
    color: white;
    background-color: black;
    width: 60%;
    height: 100%;
    content: "";
    position: absolute;
    right: 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }

  .pokemon-name {
    z-index: 1;
  }

  .pokemon-list-grid {
    overflow: scroll;
    height: 100vh;
  }

  .filter-black {
    filter: grayscale(100%)
  }